.background-informacion {
    background: $bg-info;
    color: white;

    transition: all .35s;
};

.servicio-carousel {
    height: 80vh;
    background-position: center center;
    background-size: cover;
};

.icons-servicio {
    font-size: 1.6rem;
    font-weight: bold;
    color: $color-coralgarden;
};

.background-sucursal {
    background-position: center center;
    background-size: cover;
};

.animacion-error {
    animation: wobble-hor-bottom 3s infinite;
    animation-timing-function: ease-in-out;
    @keyframes wobble-hor-bottom{0%,100%{transform:translateX(0);transform-origin:50% 50%}15%{transform:translateX(-30px) rotate(-6deg)}30%{transform:translateX(15px) rotate(6deg)}45%{transform:translateX(-15px) rotate(-3.6deg)}60%{transform:translateX(9px) rotate(2.4deg)}75%{transform:translateX(-6px) rotate(-1.2deg)}}
}

.text-justify {
    text-align: justify;
}

.icons-footer {
    font-size: 35px;
    color: map-get($color-redes , "logo" );
    transition: all .3s;
};