main {

    section {

        &.hero-index {
            background-image: url("../assets/img/logo/hero-index.jpg");
            background-position: center center;
            background-size: cover;
            height: 100vh;

            @include hero;
        }

        > div {

            video {

                &.index__video {
                    animation: $animacion-video;
                    border-radius: 20px;
                }
                  
            }

            .bg-index {
                background: $bg-coralGarden;
            }
              
            .img-index {
                transition: all .3s;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: $shadow;
                }
            }
        }
    }
}