main {

    section {
        
        &.informacion__img {

            img {
                @include tam(250px, 250px);
            }
        }

        &.breadcrumb {

            a{
                background: $bg-breadcrumb;
                border: 1px solid $color-coralgarden;

                @for $i from 1 through 5 {
                    
                    &:nth-child(#{$i}){
                        animation: $animacion-li;
                        animation-delay: $i*.25s;
                    }
    
                }
            }
        }

        h3 {

            &.h3-informacion {
                @extend .background-informacion;
                @include ancho(25%);
                box-shadow: $shadow;
            }

        }

        div {

            &.bg-informacion {
                @extend .background-informacion;
            }

            &.informacion-card {

                &:hover {
                    transform: scale(1.10);
                    box-shadow: $shadow;
                }
            }

        }
    }
    
}