@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap');

// Fonts
$fontGeneral: 'Josefin Sans', sans-serif;
$fontH2: 'Lora', cursive;

$fs-iconFooter: 45px;

// Backgrounds
$bg-coralGarden: linear-gradient(90deg, #083642 0%, #04202f 28%, #061527 56%, #01000f 100%);
$bg-servicios: linear-gradient(90deg, #1e6c81 0%, rgba(9,60,74,1) 100%);
$bg-info: linear-gradient(90deg, #01000f 0%, #083642 1%, #04202f 40%, #061527 70%, #01000f 100%);

// Animaciones - Shadows
$animacion-logo: tracking-in-expand 1s cubic-bezier(.215,.61,.355,1.000) both;
@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

$animacion-li: slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;
@keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}

$animacion-hero: swing-in-top-fwd 3s cubic-bezier(.175,.885,.32,1.275) both;
@keyframes swing-in-top-fwd{0%{transform:rotateX(-100deg);transform-origin:top;opacity:0}100%{transform:rotateX(0deg);transform-origin:top;opacity:1}}

$animacion-video: flip-in-hor-top .5s cubic-bezier(.25,.46,.45,.94) both;
@keyframes flip-in-hor-top{0%{transform:rotateX(-80deg);opacity:0}100%{transform:rotateX(0);opacity:1}}

$animacion_twitter: efecto_twitter .7s ease-in-out infinite both;
@keyframes efecto_twitter{0%{font-size: 1.6rem;color:#4caad5;}50%{font-size: 1.8rem;color:#4caad5;}100%{font-size: 1.6rem;color:#4caad5;}}

$animacion_instagram: efecto_instagram .7s ease-in-out infinite both;
@keyframes efecto_instagram{0%{font-size: 1.6rem;color:#c65ab5;}50%{font-size: 1.8rem;color:#dab745;}100%{font-size: 1.6rem;color:#c65ab5;}}

$animacion-heroHs: focus-in-expand 1.2s cubic-bezier(.25,.46,.45,.94) both;
@keyframes focus-in-expand{0%{letter-spacing:-.5em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

$animacion-sucursal: pulsate-fwd 2s ease-in-out infinite both;
@keyframes pulsate-fwd{0%{transform:scale(1)}50%{transform:scale(1.1)}100%{transform:scale(1)}}

$shadow: #0000004d 0px 19px 38px, #00000038 0px 15px 12px;
$shadow-service: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px; 

// Colores
$color-coralgarden: #01000f;

$color-redes: (
    "logo": #fff,
    "youtube": #ff4242,
    "twitter": #61dfff,
    "instagram": #ff9cfd,
);